In [1]:
import numpy as np
import pandas as pd
from project import run

# setting display options
pd.set_option('display.width', 4000)
pd.set_option('max_colwidth', 4000)
pd.set_option('max_rows', 100)
pd.set_option('max_columns', 200)
pd.set_option('display.float_format', '{:.2f}'.format)

In [2]:
my_path = r'.\data\insurance.db'

df = run(my_path, nb_exploration=True)

outlier_count:
Motor                 40
Household             36
Health                46
Life                 314
Work_Compensation    245
dtype: int64

    First_Policy  Birthday Education  Salary Area  Children     CMV  Claims  Motor  Household  Health  Life  Work_Compensation
ID
1           1985      1982         2    2177    1         1  380.97    0.39   0.57      -0.55   -0.29  0.24              -0.54
2           1981      1995         2     677    4         1 -131.13    1.12  -1.59       0.96   -0.69  0.00               1.75

In [3]:
df.head()

    First_Policy  Birthday Education  Salary Area  Children     CMV  Claims  Motor  Household  Health  Life  Work_Compensation
ID
1           1985      1982         2    2177    1         1  380.97    0.39   0.57      -0.55   -0.29  0.24              -0.54
2           1981      1995         2     677    4         1 -131.13    1.12  -1.59       0.96   -0.69  0.00               1.75
3           1991      1970         1    2277    3         0  504.67    0.28  -0.66       0.10   -0.58  1.27               1.57
4           1990      1981         3    1099    4         1  -16.99    0.99  -0.83      -0.71    1.92 -0.07              -0.24
5           1986      1973         3    1763    4         1   35.23    0.90   0.30      -0.69    0.20 -0.50               0.09

In [4]:
df.columns

Index(['First_Policy', 'Birthday', 'Education', 'Salary', 'Area', 'Children', 'CMV', 'Claims', 'Motor', 'Household', 'Health', 'Life', 'Work_Compensation'], dtype='object')

In [5]:
df.isna().any().any()

False

In [6]:
for i in df.columns:
    if df[i].nunique() < 20:
        print(f"column '{i}':\n\tno. of uniques: {df.nunique()[i]}\t| {df.dtypes[i]}\t |\t{df[i].unique().tolist()}\n")
    else:
        print(f"column '{i}':\n\tno. of uniques: {df.nunique()[i]}\t| {df.dtypes[i]} |\n")

column 'First_Policy':
	no. of uniques: 25	| int32 |

column 'Birthday':
	no. of uniques: 67	| int32 |

column 'Education':
	no. of uniques: 4	| category	 |	[2, 1, 3, 4]

column 'Salary':
	no. of uniques: 3565	| int32 |

column 'Area':
	no. of uniques: 4	| category	 |	[1, 4, 3, 2]

column 'Children':
	no. of uniques: 2	| int32	 |	[1, 0]

column 'CMV':
	no. of uniques: 7012	| float64 |

column 'Claims':
	no. of uniques: 165	| float64 |

column 'Motor':
	no. of uniques: 1945	| float64 |

column 'Household':
	no. of uniques: 1028	| float64 |

column 'Health':
	no. of uniques: 1004	| float64 |

column 'Life':
	no. of uniques: 465	| float64 |

column 'Work_Compensation':
	no. of uniques: 771	| float64 |

In [7]:
cols_for_clustering = []

In [8]:
dummycols = df.columns[df.columns.str.startswith("Education") | df.columns.str.startswith("Area")].tolist()

In [9]:
cols_for_clustering.extend(dummycols)
cols_for_clustering.extend(['Motor', 'Household', 'Health', 'Life', 'Work_Compensation'])

In [12]:
cols_for_clustering

['Education',
 'Area',
 'Motor',
 'Household',
 'Health',
 'Life',
 'Work_Compensation']

In [11]:
# might be handaay: https://github.com/joaolcorreia/RFM-analysis